* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.2em;
    color: #fff;
}

.head {
    display: flex;
    gap: 18px;
    align-items: center;
}

.vertical {
    height: 3.4vh;
    background-color: #fff;
    width: 1px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.header img {
    height: 30px;
}

.header p {
    font-size: larger;
}

.join {
    padding: 0.5em 1.2em;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    background: transparent;
    color: #fff;
    border: 1px solid rgb(128, 128, 128);
}

.join:hover {
    border: 1px solid #fff;
    transition: border 0.2s ease;
}

.buttons .sign-in {
    color: #fff;
    font-size: 15px;    
    font-weight: 600;
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.4em 1.2em;
    border-radius: 5px;
}

.buttons .sign-in:hover {
    background-color: rgb(193, 6, 6);
    transition: background-color 0.2s ease;
}

.main-section {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25%;
    /* justify-content: center; */
    /* align-items: center; */
}

.main-section h2 {
    font-size: 2.5em;
}

.main-section p {
    margin: 2em 0 1em 0;
    font-weight: bold;
    font-size: large;
}

.tell-us input {
    padding: 0.5em 1em;
    width: 45em;
    font-size: medium;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 3px;
    outline: none;
}
.input-container {
    position: relative; /* Position container relative for absolute positioning of arrow */
    display: inline-block; /* Ensure container adjusts to content */
    width: 100%; /* Make container fill available width */
}

.arrow-right {
    color: rgb(154, 154, 154);
    display: flex;
    align-items: center;
    position: absolute;
    /* font-size: 2em; */
    right: 10px;
    top: 50%;
    transform: translateY(-50%); /* Center arrow vertically */
    pointer-events: none; /* Allow clicks to pass through to the input */
}
.quick-link{
    margin-top: 18em;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25%;
}
.quick-link h2{
    font-size: 1.2em;
}
.quick-link-class{
    display: flex;
    gap: 15px;
    margin: 12px 0;
}
.quick-link-class p{
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}
.quick-link-class p:hover{
    color:rgb(109, 105, 105);
    transition: color 0.2s ease;
}
.foot-contact{
    position: absolute;
    bottom: -50vh;
    height: 50vh;
    width: 100%;
    background: linear-gradient(10deg, rgba(229, 9, 20, 0) 58%, rgb(229, 9, 20) 128%), #000;
}
.footer-main{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25%;
    top: 20%;
}
select {
    margin-bottom: 75px;
    margin-right: 98px;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 1em;
    border-radius: 3px;
    /* border: 1px solid rgb(235, 213, 213); */
    /* border: none; */
    outline: none;
    color: #939697f0;
}
/* select:hover{
    background-color: #939697f0;
    color: #fff;
} */
option{
    /* color: #454545; */
    padding: 5px 10px;
    font-size: large;
}
.footer-main a{
    color:rgb(184, 181, 181);
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 0.9em;
}
.footer-main a:hover{
    text-decoration: underline;
}